.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 96%;
  bottom: 0;
  height: 64px;
  width: 100%;
  background-color: #282828;
  padding: 20px;
}

.footer-left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
}

.footer-center {
  flex: 0.4;
  padding: 0 100px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.footer-album-image {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.footer-right {
  display: flex;
  flex: 0.3;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.songInfo > h4 {
  margin-bottom: 5px;
}

.songInfo > p {
  font-size: 12px;
}

.footer-icon:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
  cursor: pointer;
}

.footer * .MuiSlider-root {
  color: green;
}
