.sidebaroption {
  display: flex;
  justify-content: left;
  align-items: center;
  color: grey;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
}

.sidebaroption:hover {
  color: white;
}

.sidebaroption-icon {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebaroption > p {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 14px;
}
